body{
  background: tomato;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cube {
  width:200px;
  height:200px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s linear infinite;
  animation-direction: reverse;
}
.cube img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}
.box1{
  transform: translateZ(100px);
}
.box2{
  transform:rotateY(90deg) translateZ(100px);
  
}
.box3{
  transform: rotateY(180deg) translateZ(100px);
}
.box4{
  transform: rotateY(-90deg) translateX(-100px);
  transform-origin: left;
}
.box5{
  transform: rotateX(-90deg) translateY(-100px);
  transform-origin: top;
}
.box6{
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(100px);
}
@keyframes rotate{
  0%,100%{
    transform :rotate(0deg);
  }
  20%{
   transform: rotateY(90deg) rotateZ(90deg);
  }
  40%{
    transform: rotateY(180deg) rotateZ(-90deg);
  }
  60%{
    transform: rotateY(270deg) rotateZ(90deg);
  }
  80%{
    transform: rotateY(360deg) rotateZ(-90deg);
  }
}